main{
    display: flex;
    justify-content: center;
}
#grid{
    height: 500px;
    width: 800px;
    display:grid ;
    grid-template-areas : 
    "w1 w1 w2 w2 w2 w2 w2 w2 w2 w2 w2 w2 w2 w2 w3 w3 w3 w3 w3 w3 w3 w3 w3 w3 w3 w3 w3 w3 w4 w4 y1 y1"
    "w1 w1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 w5 w5 w5 w5 w5 b2 b2 b2 b2 b2 b2 b2 b2 b2 w4 w4 y1 y1"
    "w1 w1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 w5 w5 w5 w5 w5 b2 b2 b2 b2 b2 b2 b2 b2 b2 w4 w4 y1 y1"
    "w1 w1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 b1 w5 w5 w5 w5 w5 b2 b2 b2 b2 b2 b2 b2 b2 b2 w4 w4 y1 y1"                                  
    "n1 n1 w6 w6 w6 w6 n2 n2 w7 w7 w7 w7 w7 w8 y2 y2 y2 y2 y2 r1 r1 r1 r1 r1 r1 r1 r2 r2 w4 w4 y1 y1"
    "n1 n1 w6 w6 w6 w6 n2 n2 w7 w7 w7 w7 w7 w8 y2 y2 y2 y2 y2 r1 r1 r1 r1 r1 r1 r1 r2 r2 w4 w4 y1 y1"
    "n1 n1 w6 w6 w6 w6 n2 n2 w7 w7 w7 w7 w7 w8 y2 y2 y2 y2 y2 r1 r1 r1 r1 r1 r1 r1 r2 r2 w4 w4 y1 y1"
    "n1 n1 w6 w6 w6 w6 n2 n2 w7 w7 w7 w7 w7 w8 y2 y2 y2 y2 y2 r1 r1 r1 r1 r1 r1 r1 r2 r2 w4 w4 y1 y1"
    "n1 n1 w6 w6 w6 w6 n2 n2 w7 w7 w7 w7 w7 w8 y2 y2 y2 y2 y2 r1 r1 r1 r1 r1 r1 r1 r2 r2 w4 w4 y1 y1"
    "n1 n1 w6 w6 w6 w6 n2 n2 w7 w7 w7 w7 w7 w8 y2 y2 y2 y2 y2 r1 r1 r1 r1 r1 r1 r1 r2 r2 w4 w4 y1 y1"
    "n1 n1 w6 w6 w6 w6 n2 n2 y3 y3 r3 r3 r3 r3 b3 b3 b3 b3 b3 w9 w9 w9 w9 w9 w9 w9 z1 z1 n3 n3 n3 n3"
    "n1 n1 w6 w6 w6 w6 n2 n2 y3 y3 r3 r3 r3 r3 b3 b3 b3 b3 b3 w9 w9 w9 w9 w9 w9 w9 z1 z1 n3 n3 n3 n3"
    "n1 n1 w6 w6 w6 w6 n2 n2 y3 y3 r3 r3 r3 r3 b3 b3 b3 b3 b3 w9 w9 w9 w9 w9 w9 w9 z1 z1 n3 n3 n3 n3"
    "z2 z2 r4 r4 r4 r4 n2 n2 y4 y4 z3 z3 z3 z3 z3 z3 z3 z4 z4 z4 z4 z4 z4 b4 b4 b4 y5 y5 z5 z5 z5 z5"
    "z2 z2 r4 r4 r4 r4 n2 n2 y4 y4 z3 z3 z3 z3 z3 z3 z3 z4 z4 z4 z4 z4 z4 b4 b4 b4 y5 y5 z5 z5 z5 z5"
    "z2 z2 r4 r4 r4 r4 n2 n2 y4 y4 z3 z3 z3 z3 z3 z3 z3 z4 z4 z4 z4 z4 z4 b4 b4 b4 y5 y5 z5 z5 z5 z5"
    "z2 z2 r4 r4 r4 r4 n2 n2 y4 y4 z3 z3 z3 z3 z3 z3 z3 z4 z4 z4 z4 z4 z4 b4 b4 b4 y5 y5 z5 z5 z5 z5"
    "z2 z2 r4 r4 r4 r4 n2 n2 y4 y4 z3 z3 z3 z3 z3 z3 z3 z4 z4 z4 z4 z4 z4 b4 b4 b4 y5 y5 z5 z5 z5 z5"
    "z2 z2 r4 r4 r4 r4 n2 n2 y4 y4 r5 r5 r5 r5 n4 n4 n4 n4 n4 n4 n4 n4 n4 z6 z6 z6 z6 z6 z6 z6 z6 z6"
    "z2 z2 r4 r4 r4 r4 n2 n2 y4 y4 r5 r5 r5 r5 n4 n4 n4 n4 n4 n4 n4 n4 n4 z6 z6 z6 z6 z6 z6 z6 z6 z6"
    "z7 z7 z7 z7 z7 z7 z7 z7 y4 y4 r5 r5 r5 r5 n4 n4 n4 n4 n4 n4 n4 n4 n4 z6 z6 z6 z6 z6 z6 z6 z6 z6"
    "z7 z7 z7 z7 z7 z7 z7 z7 y4 y4 r5 r5 r5 r5 n4 n4 n4 n4 n4 n4 n4 n4 n4 z6 z6 z6 z6 z6 z6 z6 z6 z6";
    grid-gap: 8px;
    background-color: black;
    border: 8px solid black;
} 

#Div1{
    grid-area: w1;
}
#Div2{
    grid-area: w2;
}
#Div3{
    grid-area: w3;
}
#Div4{
    grid-area:w4;
}
#Div5{
    grid-area:y1;
} 
#Div6{
    grid-area:b1;
}
#Div7{
    grid-area: w5;
}
#Div8{
    grid-area: b2;
}
#Div9{
    grid-area: n1;
}
#Div10{
    grid-area: w6;
} 
#Div11{
    grid-area: n2;
}
#Div12{
    grid-area:w7;
}
#Div13{
    grid-area:y2;
}
#Div14{
    grid-area:r1;
}
#Div15{
    grid-area: r2;
}
#Div16{
    grid-area: y3;
}
#Div17{
    grid-area: r3;
}
#Div18{
    grid-area: b3;
}
#Div19{
    grid-area:w8;
}
#Div20{
    grid-area:w9;
}
#Div21{
    grid-area: n3;
}
#Div22{
    grid-area: z1;
}
#Div23{
    grid-area: r4;
}
#Div24{
    grid-area:y4;
}
#Div25 {
    grid-area: z2;
}
#Div26{
    grid-area:z3;
}
#Div27{
    grid-area: z4;
}
#Div28{
    grid-area: b4;
}
#Div29{
    grid-area: y5;
}
#Div30{
    grid-area: z5;
}
#Div31{
    grid-area: r5;
}
#Div32{
    grid-area: n4;
}
#Div33{
    grid-area: z6;
}
#Div34{
    grid-area: z7;
}